<md-tab-group>
  <md-tab label="Devices">
    <md-nav-list>
      <a md-list-item *ngFor="let device of devices" [routerLink]="['/device', device.VigilId]">
        <md-icon md-list-icon>devices</md-icon>
        <h4 md-line>{{device.VigilId}}</h4>
        <p md-line> {{device.Uid}}</p>
        <span class="spacer"></span>
        <span mdTooltip="14 Alerts">
          <md-icon>report_problem</md-icon> 14
        </span>
      </a>
      <md-divider></md-divider>
    </md-nav-list>
  </md-tab>
</md-tab-group>