.setting-type {
    width: 300px;
}
.setting-content {
    color: gray;
}
.inline {
    display: inline-block;
}
.settings {
    padding: 30px;
}
.setting-full-width {
  width: 100%;
}
.setting-footer {
    margin-top: 20px;
}
.setting-box {
    padding-bottom: 20px;
}
.settings h3 {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.settings-contents {
  display: inline-block;
}

.settings-group {
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin-bottom: 20px;
}
