<md-tab-group>
  <md-tab label="Devices">
    <md-nav-list>
      <a md-list-item *ngFor="let device of devices" [routerLink]="['/device', device.VigilId]">
        <md-icon md-list-icon>devices</md-icon>
        <h4 md-line>{{device.VigilId}}</h4>
        <p md-line>
          <span>{{device.Uid}}</span>
        </p>
        <span class="spacer"></span>
        <button md-button>
          <md-icon>report_problem</md-icon> 14
        </button>
      </a>
      <md-divider></md-divider>
    </md-nav-list>
    <div class="note">
      Note: This list should fetch from API by the current login user. But currently, it's provided by a static list.
    </div>
  </md-tab>
</md-tab-group>
